body {
  background-color: #1a1a1a;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

video {
  border-radius: 50px;
}

pre {
  font-size: 2px;
  color: #fafafa;
}

.PreFather {
  overflow: hidden;
  width: 640px;
  height: 480px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50px;
}
